html, body {
  margin: 0;
  padding: 25px;
  background-color: lightblue;
}

p{
  margin: 0px;
  width: 600px;
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-size: 120%;
}
.picture{
  background-color: white;
  padding: 10px;
}
.heading{
  font-family: serif;
  font-style: italic;
}

img{
  border-style: solid;
  border-color: black;
  border-width: 2px;

}
.animation1{
  height: 200px;
}
article{
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 0px;
}
h2{
  padding-top: 50px;
}
